@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

:root{
  --bg: #ffffff;
  --text: #111111;
}

html,body,#root{
  height:100%;
}

html,body{
  margin:0;
  padding:0;
  background:var(--bg);
  color:var(--text);
  font-family: Inter, Roboto, Arial, sans-serif;
}

a{color:inherit}
