
@font-face {
  font-family: 'NewRail';
  src: url('/font/newrailalphabet-bold-webfont.woff2') format('woff2'),
       url('/font/newrailalphabet-bold-webfont.woff') format('woff'),
       url('/font/NewRailAlphabet-Bold.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NewRail';
  src: url('/font/newrailalphabet-bolditalic-webfont.woff2') format('woff2'),
       url('/font/newrailalphabet-bolditalic-webfont.woff') format('woff'),
       url('/font/NewRailAlphabet-BoldItalic.otf') format('opentype');
  font-style: italic;
  font-display: swap;
}

:root{
  --bg: #ffffff;
  --text: #111111;
  --color-primary: #008700;
  --color-secondary: #db3adf;
  --color-error: #d30000;
  --color-warning: #ffa600;
  --color-shape: #d9d9d9;
  --color-muted: #808080;
}

html,body,#root{
  height:100%;
}

html,body{
  margin:0;
  background:transparent;
  color:var(--text);
}

@media (max-width: 899px) {
  html,body {
    margin: 0;
    height: 100vh;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

a{color:inherit}

/* Text justification with hyphenation */
p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.layout-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "nav main"
    "nav main"
    "footer footer";
  row-gap: 20px;
  column-gap: 0;
  padding: 0.75em 2em;
  box-sizing: border-box;
}

@media (max-width: 599px) {
  .layout-grid {
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
    
    row-gap: 40px;
    column-gap: 0;
    padding: 40px;
  }
}

.layout-grid > header {
  grid-area: header;
  margin-bottom: 1rem;
}

.layout-grid > nav {
  grid-area: nav;
}

.layout-grid > main {
  grid-area: main;
  min-height: 0;
}

.layout-grid > footer {
  grid-area: footer;
}

.layout-grid > .background {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: -1;
  pointer-events: none;
}
